body {
    font-family: 'Arial', sans-serif;
    background-image: url('../assets/bgh1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light  {
    background-color: rgb(49, 32, 59) !important;
    padding-top: 10px; 
    padding-bottom: 10px; 
}

a.navbar-brand{
    color: white !important;
    padding: 0 !important;
    margin: 0px 10px !important; 
    font-size: 1.5rem !important; 
}

button.navbar-toggler{
    margin: 0px 10px !important;
    border-color: transparent !important;
}

span.navbar-toggler-icon {
    background-image: url('../assets/menu.png');
}

.display-4{
    font-family: 'Imperial Script', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10vw !important;
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px #5228a0, 0 0 40px #28236d, 0 0 80px #14424e; /* Neon effect */
    color: #9377dc;
}


.lead {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-size: 2.5vw !important;
    font-style: normal;
    color: white;
}

@media (max-width: 786px) {
    .lead {
        font-size: 3vw !important; 
    }
}

@media (max-width: 576px) {
    .lead {
        font-size: 4vw !important; 
    }
}

.col-md-4{
    color: white;
}

.custom-img {
    width: 70%;
    max-width: 1000px; 
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#countdown h2 {
    font-size: 2rem;
    color: white;
}

#timer {
    font-size: 2.5rem;
    color: #ff0000;
}
